<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">
            {{ site.tagline }}
            <nobr><a href="https://github.com/da-eto-ya"><i class="fa fa-github"></i>&nbsp;da-eto-ya</a></nobr>
        </p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.layout == "page" and node.title != null and node.permalink != '/404.html' %}
          <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
            <a href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="sidebar-nav">
        <li class="sidebar-nav-item"><a href="http://da-eto-ya.github.io/a-star-example/" target="_blank">A* in JS (exercise)</a></li>
    </ul>

    <p>
        <small>Theme based on 
            <a href="http://hyde.getpoole.com/">Hyde</a> 
            from <a href="https://twitter.com/mdo"><i class="fa fa-twitter"></i>mdo</a>
        </small>
        <br />
        <small>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</small>
    </p>

  </div>
</div>

